<div class="form">
    <input type="text" name="name" autocomplete="off" required />
    <label for="name" class="label-name">
        <span class="content-name">...click and type here...</span>
    </label>
</div>