<!DOCTYPE html> 
<html> 

<head> 
    <title>Home Page</title> 

    <style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: white; 
            font: size 6em;  
        } 
    </style> 
</head> 

<body> 
    <h1>This is our <%=data.test%> home </h1>
            <!-- T=M!R <%= setTimer(data.timer); data.timer%> page.</h1> -->
</body>

</html>     
