<div class="form">
    <input type="text" name="name" autocomplete="off" required />
    <label for="name" class="label-name">
        <!-- = for variable only,   for functioning -->
        <span class="content-name">...<% for(doc in data){%> 
            <p>
                <%=data[doc]._id%> plz type here...
                <%=data[doc] meTown%> plz type here...
            </p>
        <% } %>
        </span>
    </label>
</div>
<!-- <script src="advance.js"></script> -->