<div class="form">
    <input type="text" name="name" autocomplete="off" required />
    <label for="name" class="label-name">
        <span class="content-name">...<% for(doc in data){%> 
            <p>
                <%#=data[doc]._id%> 
                <%#=data[doc] meTown%> plz type here...
            </p>
        <% } %>
        </span>
    </label>
</div>