<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>tutorial purgatory</title>
    <script src="https://kit.fontawesome.com/91bcd11295.js" crossorigin="anonymous"></script>
    <script>
        function playAudio(url) {
            new Audio(url).play();
            console.log("played"+url)
            while (playing){
    
            }
        }
        function pauseit(url){
            Audio(url).pause();
            console.log("paused"+url)
            let playing = false
        }
    </script>
</head>
<body>
    <h1>TP:  <%= name %> login success!</h1>
</body>
</html>